<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/postRequests.js"></script>
    <link rel="stylesheet" href="/css/addStudentForm.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
<form id="addingForm" th:action="@{/mainMenu}" method="post" style="width: 350px; height: 400px">
    <input type="text" id="tittle" name="tittle" placeholder="Tittle">
    <input type="text" id="description" name="description" placeholder="Description">
    <input type="text" id="teacherInfo" name="teacherInfo" placeholder="Teacher info">
    <input type="date" id="lectureDate" name="lectureDate" placeholder="Lecture date">
    <input type="submit" name="newStudent" value="Add Lecture" onclick="addNewLecture();">
    <div style="text-align: left"><a href="#" th:href="@{/mainMenu}"> Go back </a></div>
</form>
</body>
</html>